[user]
    name = Evan O'Connell
    email = oconn.e@gmail.com
[alias]
    co = checkout
    st = status -sb
[color]
    diff = auto
    status = auto
    branch = auto
[apply]
    whitespace = nowarn
[github]
    user = eoconnell
[core]
	excludesfile = ~/.gitignore
[init]
  templatedir = ~/.git_template
