*.DS_Store
*.swp
/.CFUserTextEncoding
/.Trash
/.android/
/.ansible
/.bash_history
/.cabal
/.cache
/.composer
/.config
/.cups
/.dropbox
/.eclipse/
/.gem
/.ghc
/.gnupg/
/.gradle/
/.heroku
/.hex/
/.history
/.htoprc
/.irb_history
/.irssi
/.jenkins/
/.jenv
/.lein
/.lesshst
/.m2
/.mix/
/.mysql_history
/.netrc
/.node-gyp/
/.npm
/.p2/
/.pearrc
/.php_history
/.phpbrew
/.psql_history
/.rbenv
/.rediscli_history
/.rnd
/.sh_history
/.sqlite_history
/.ssh
/.subversion
/.swipl-dir-history
/.swt
/.vagrant.d
/.vbox
/.vim/.netrwhist
/.viminfo
/.zcompdump
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Library/*
/Movies
/Music
/Pictures
/Public
/code
/media
/notes
/proj
/reading
/work
