[user]
  name = Evan O'Connell
  email = oconn.e@gmail.com
[alias]
  co = checkout
  st = status -sb
  d = diff
  dc = diff --cached
  l = log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  div = divergence
  u = ls-files --others
[color]
  diff = auto
  status = auto
  branch = auto
[apply]
  whitespace = nowarn
[github]
  user = eoconnell
[core]
  excludesfile = ~/.gitignore
[init]
  templatedir = ~/.git_template
[diff]
	submodule = log
