URxvt.font: xft:Hasklug Nerd Font Mono:pixelsize=14

URxvt.scrollBar: false

URxvt*background:                     #1b1d1e
URxvt*foreground:                     #d6d6d6
URxvt*cursorColor:                    #d6d6d6
URxvt*borderWidth: 0
URxvt*internalBorder: 24

URxvt*color0:                         #151718
URxvt*color1:                         #Cd3f45
URxvt*color2:                         #9fca56
URxvt*color3:                         #e6cd69
URxvt*color4:                         #55b5db
URxvt*color5:                         #a074c4
URxvt*color6:                         #55dbbe
URxvt*color7:                         #d6d6d6
URxvt*color8:                         #41535B
URxvt*color9:                         #Cd3f45
URxvt*color10:                        #9fca56
URxvt*color11:                        #e6cd69
URxvt*color12:                        #55b5db
URxvt*color13:                        #a074c4
URxvt*color14:                        #55dbbe
URxvt*color15:                        #ffffff

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844
