URxvt.font: xft:Iosevka Term:style=Regular:pixelsize=14

URxvt.scrollBar: false
URxvt*cursorBlink: true

URxvt*borderWidth: 0
URxvt*internalBorder: 16

#include ".Xbase16/solarized_dark.Xresources"

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: base01, base01, base00
rofi.color-normal: base01, base05, base01, base01, base07
rofi.color-active: base01, base0D, base01, base01, base0D
rofi.color-urgent: base01, base08, base01, base01, base08

! ------------------------------------------------------------------------------
! Copy/Paste
! ------------------------------------------------------------------------------
URxvt.clipboard.autocopy: true
URxvt.clipboard.copycmd: xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard

Urxvt.iso14755: false
Urxvt.iso14755_52: false

URxvt.perl-ext-common: default,matcher,clipboard,font-size

URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste

URxvt.keysym.M-equal: perl:font-size:increase
URxvt.keysym.M-minus: perl:font-size:decrease
